/* Общее */
*{padding: 0; margin: 0;}
a:hover{
	color: black;
	background: white;
}
a {
    color: silver;
   }
a:visited {
    color: silver;
   }
a:active {

    color: silver;
   }
body {
	background: url(bg.jpg);
	background-size: cover;
	background-attachment: fixed;
}
/*/общее */
/* head */
.img {
	width: 200px;
	height: 250px
}
.menu{
	position: absolute;
	left: 125px;
	top: 40px;
}
.menu li{
	text-decoration: none;
	color: silver;
	font-size: 25px;
	padding-top: 10px;
	display: inline-block;
	margin-left:170px;
	height: 40px;
}
.menu .li{
	background: white;
	color: black;
}
}
.menu li a{
	font-size: 25px;
	color: gray;
	text-decoration: none;
	padding-top: 10px;
}
.menu li a:hover{
	color: black;
	background: white;
}
/* /head */
/* body общее */
.main{
   	width: 960px;
   	position: relative;
   	min-height: 2706px;
   	margin: 30px auto;
   }
h1{
	color: silver;
	text-align: center;
}
h1 a{
	text-decoration: none;
}
.jpg{
	margin-left: 200px;
}
.in{
	background:rgba(0, 0, 0, 0.5);
	position: relative;
	margin-top: 100px;
	width: 960px;
	min-height: 3100px;
}
/* /index общее */
.p{
	width: 500px;
	position: absolute;
	right:50px;
	top:20px;
	color: white;
	font-size: 20px;
}
.p1{
	width: 500px;
	position: absolute;
	left:50px;
	top:100px;
	color: white;
	font-size: 20px;
}
ul li a:hover{
	color: black;	
}
.p2{
	width: 400px;
	position: absolute;
	left:250px;
	top:300px;
	color: white;
	font-size: 20px;
}
.menu1{
	width: 450px;
	position: absolute;
	left: 250px;
	top: 350px;
}
.menu1 .li1{
	list-style-type:none; 
	height: 300px;

}
.menu1 .li2{
	margin-top: 40px;
	position: absolute;
	right: 260px;
	width: 400px;
}
.menu1 .li3{
	margin-top: 160px;
	position: absolute;
	left: 280px;
	width: 400px;
}

.menu li a {
	text-decoration: none;
}
span{
	border-bottom: 2px solid white;
}
.vis{
	position: relative;
	margin: 10px auto;
	background: black;
	height: 850px;
	width: 650px;
}
p{
	color: silver;
}
.map{
	width: 360px;
	height: 270px;
	position: absolute;
	left: 244px;
	top: 172px;
}
.znak{
	width: 20px;
	height: 40px;
	cursor: pointer;
	position: absolute;
	left: 399px;
	top: 275px;
}

.window-out{
	width:  100%;
	height: 100%;
	position: absolute;
	left:70px;
	top: 20px;
	background-attachment: fixed;
	display: none;
	z-index: 999;
}

.window{
	position: absolute;
	background: white;
	width: 800px;
	height: 800px;
}
.h1{
	margin-top: 10px;
	color: black;
	text-decoration: none;
}
.zdanie{
	width: 700px;
	height: 357px;
	margin-left: 10px;
}
.zdanie1{
	margin-left: 10px;
	width: 700px;
	height: 357px;
}
h3{
	color: silver;

}
.ul{
	margin-top: 10px;
	margin-left: 180px;
}
.ul li{
	margin-left: 100px;	
	color: silver;
	font-size: 22px;
	display:inline-block;
}
.ul .li{
	background: white;
	color: black;
}
.ul li a {
		text-decoration: none;
}
.h11{
	background: white;
	text-align: center;
	color: black;
}
.inin{
	margin-top: 30px;
	position: relative;
	width: 960px;
	min-height: 2706px;
}
a:hover{
	color: black;
}
div{
	position: absolute;
	width: 270px;
	height: 400px;
	position: absolute;
	display: block;
}
.div1{
	top: 0;
	left: 0;
}
.div2{
	top:0;
	left:300px ;
}
.div3{
	top:0;
	left:600px;
}
.div4{
	top:420px;
	left:0px;
}
.div5{
	top: 420px;
	left:300px ;
}
.div6{
	top: 420px;
	left:600px ;
}
.div7{
	top: 840px;
	left:0px ;
}
.div8{
	top:840px ;
	left:300px;
}
.div9{
	top:840px ;
	left:600px;
}
.div10{
	top:1260px ;
	left:0px;
}
.div11{
	top:1260px ;
	left:300px;
}
.div12{
	top:1260px ;
	left:600px;
}
.div13{
	top:1680px ;
	left:0px;
}
.div14{
	top:1680px;
	left:300px ;
}
.div15{
	top:1680px ;
	left:600px ;
}
.div16{
	top:2100px ;
	left:0px ;
}
.div17{
	top:2100px ;
	left:300px ;
}
.div18{
	top:2100px ;
	left:600px ;
}
.div19{
	top:2520px ;
	left:0px ;
}
.div20{
	top:2520px ;
	left:300px ;
}
.div21{
	top:2520px ;
	left:600px ;
}
.div22{
	top:2940px ;
	left:0px ;
}
.div23{
	top:2940px ;
	left:300px ;
}
.div24{
	top:2940px ;
	left:600px ;
}
.div25{
	top:3360px ;
	left:0px ;
}

img{
	width: 270px;
	height: 370px;
}
.stage{
	position: absolute;
	width: 50px;
	height: 30px;
	left: 430px;
	top: 3770px;
}
ul li{
	margin-left: 10px;	
	color: silver;
	font-size: 22px;
	display:inline-block;
}
ul li a {
		text-decoration: none;
}
.stage1{
	position: absolute;
	width: 50px;
	height: 30px;
	left: 430px;
	top: 3360px;
}
.p3{
	width: 420px;
	position: absolute;
	left:250px;
	top:1050px;
	color: silver;
	font-size: 20px;
}
.p4{
	width: 420px;
	position: absolute;
	left:250px;
	top:1180px;
	color: silver;
	font-size: 20px;
}
.info{
	position: absolute;
	width: 650px;
	height: 400px;
	top: 450px;
}
.info .p5{
	color: white;
	font-size: 20px;
}
.info .p6{
	color: silver;
	font-size: 16px;
}
h2{
	color: silver;
}
.ul2{
	position: relative;
}
.ul2 .l5{
	position: absolute;
	color: white;
	font-size: 20px;
	top: 0;
	left: 0;
}
.ul2 .l6{
	position: absolute;
	color: white;
	font-size: 20px;
	top: 30px;
	left: 0;
}
.ul2 .l7{
	position: absolute;
	color: white;
	font-size: 20px;
	top: 60px;
	left: 0;
}
.p7{
	margin-left: 64px;
}
.p8{
	left: 250px;
	top: 1310px;
	font-size: 20px;
	position: absolute;
}
.p9{
	left: 250px;
	top: 1350px;
	font-size: 20px;
	position: absolute;
}
.p10{
	left: 250px;
	top: 1430px;
	font-size: 20px;
	position: absolute;
}
.p11{
	left: 250px;
	top: 1510px;
	font-size: 20px;
	position: absolute;
}
.p12{
	left: 290px;
	top: 1610px;
	font-size: 25px;
	position: absolute;
}
.p13{
	left: 250px;
	top: 1650px;
	font-size: 20px;
	position: absolute;
}
.p14{
	left: 250px;
	top: 1700px;
	font-size: 20px;
	position: absolute;
}
.p15{
	left: 250px;
	top: 1780px;
	font-size: 20px;
	position: absolute;
}
.menu2{
	width: 400px;
	position: absolute;
	left: 200px;
	top: 1850px;

}
.menu2 li:before{
	content: "-";
}
.menu2 li{
	display: block;
}
.ul2{position: absolute;
	left: 200px;
	width: 500px;}

.menu2 .li1{
top: 100px;
position: absolute;
}
.menu2 .li2{
	position: absolute;
	top: 350px;
}
.menu2 .li3{
	position: absolute;
	top: 550px;
}
.menu2 .li4{
	position: absolute;
	top: 600px;
}

.p16{
	left: 250px;
	top: 2650px;
	font-size: 20px;
	position: absolute;
}
.p17{
	left: 250px;
	top: 2795px;
	font-size: 20px;
	position: absolute;
}
.p18{
	left: 250px;
	top: 2865px;
	font-size: 20px;
	position: absolute;
}
.p19{
	left: 250px;
	top: 2895px;
	font-size: 20px;
	position: absolute;
}
.p20{
	left: 270px;
	top: 2950px;
	font-size: 25px;
	position: absolute;
}
.p21{
	left: 250px;
	top: 3080px;
	font-size: 20px;
	position: absolute;
}